<%-include("../navigation")-%>

  <!-- error message start -->
  <!-- <div class="mb-4 alert-messages">
    <%//if(success.length>0){%>
    <div class="alert success">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%//=success%>
    </div>
    <%//}else{%>
    <%//if(danger.length>0){%>
    <div class="alert fail">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%//=danger%>
    </div>
    <%//}%>
                        <%//}%>
  </div> -->
  <!-- end -->




 <form method="POST" action="/addstudent">
   <br/>
     <label>Name</label>
     <input name="name">
 <br/>
       <label>Address</label>
     <input name="address">
     <br/>

       <label>City</label>
     <input name="city">
      <br/>

       <label>Contact</label>
     <input name="contact">
 <br/>
     <label>Father Contact</label>
     <input name="fcontact">
 <br/>
       <label>Email Address</label>
     <input name="email">

 <br/>
       <label>Father Email Address</label>
     <input name="femail">
 <br/>
       <label>Room No</label>
     <input name="room">
     <br/>
     <label>Status</label>


<select name="status" id="status">
  <option value="Hostel">Hostel</option>
  <option value="Outside">Outside</option>
  <option value="Home">Home</option>
</select>

 <br/>



     <button>Submit</button>
     
 </form>


 <!-- Bootstrap core JavaScript-->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->
 <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for all pages-->
 <script src="js/sb-admin-2.min.js"></script>

 <!-- Page level plugins -->
 <script src="vendor/chart.js/Chart.min.js"></script>

 <!-- Page level custom scripts -->
 <script src="js/demo/chart-area-demo.js"></script>
 <script src="js/demo/chart-pie-demo.js"></script>
