 <%-include("header")-%>


 <form method="POST" action="/addstudent">
   <br/>
     <label>Name</label>
     <input name="name">
 <br/>
       <label>Address</label>
     <input name="address">
     <br/>

       <label>City</label>
     <input name="city">
      <br/>

       <label>Contact</label>
     <input name="contact">
 <br/>
     <label>Father Contact</label>
     <input name="fcontact">
 <br/>
       <label>Email Address</label>
     <input name="email">

 <br/>
       <label>Father Email Address</label>
     <input name="femail">
 <br/>
       <label>Room No</label>
     <input name="room">
     <br/>
     <label>Status</label>


<select name="status" id="status">
  <option value="Hostel">Hostel</option>
  <option value="Outside">Outside</option>
  <option value="Home">Home</option>
</select>

 <br/>



     <button>Submit</button>
     
 </form>