<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complete Responsive Product Landing Page Website Design Tutorial</title>

  <!-- google fonts cdn link  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  <!-- custom css file link  -->
  <link rel="stylesheet" href="css/homepage.css">

   <!-- CSS -->
   
   <link rel="stylesheet" href="css/mdb.min.css" />

</head>

<body>

  <!-- heading section starts  -->

  <header>

    <a href="#" class="logo"><i class="fas fa-hotel"></i>PICT HOSTEL</a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbarr">
      <ul>
        <li><a class="active" href="#home">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#features">features</a></li>
         <li><a href="/login">Login / Register</a></li>
       
     
       
      </ul>
    </nav>

  </header>

  <!-- heading section ends -->

  <!-- home section starts  -->

  <section class="home" id="home">

    <div class="content">
      <h1>Welcome To PICT !</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum aliquid ullam, impedit sunt tempora a! Animi nihil sunt beatae.</p>
      <a href="/login"><button class="btnnn">Get Started !</button></a>
   
    </div>

    <div class="image">
      <img src="images/test.png" alt="">
    </div>

  </section>

  <!-- home section ends -->



  <!-- about section starts  -->

   <section class="about" id="about">

    <div class="image">
      <img src="images/Apartment rent.gif" alt="">
    </div>

    <div class="content">
      <h1 class="heading">about</h1>
      <h3>Lower Priced Accomodation !</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus laborum quia, ducimus vel consequatur consequuntur perferendis necessitatibus obcaecati quos quis.</p>
      <ul>
        <li> <i class="fas fa-check-double"></i> wireless facility </li>
        <li> <i class="fas fa-check-double"></i> high quality sounds </li>
        <li> <i class="fas fa-check-double"></i> voice call facility </li>
        <li> <i class="fas fa-check-double"></i> nice and soft design </li>
      </ul>
    </div>

  </section> 

  <!-- about section ends -->

  <!-- features section starts  -->

  <section class="features" id="features">

    <h1 class="heading">product features</h1>

    <h1 class="title">new and outstanding features</h1>

    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet molestiae repellat labore possimus velit ex aperiam sequi atque veniam consectetur.</p>

    <div class="box-container">

      <div class="box">
        <i class="fas fa-wifi"></i>
        <h3>wireless facility</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti doloribus asperiores neque facere magni fugiat labore ipsum provident sed numquam.</p>
      </div>

      <div class="box">
        <i class="fas fa-music"></i>
        <h3>high quality sound</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti doloribus asperiores neque facere magni fugiat labore ipsum provident sed numquam.</p>
      </div>

      <div class="box">
        <i class="fas fa-gamepad"></i>
        <h3>easy control buttons</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti doloribus asperiores neque facere magni fugiat labore ipsum provident sed numquam.</p>
      </div>

      <div class="box">
        <i class="fas fa-headset"></i>
        <h3>24 x 7 service</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti doloribus asperiores neque facere magni fugiat labore ipsum provident sed numquam.</p>
      </div>

    </div>

  </section>

  

   
   



   <!-- footer section starts  -->
   <div class="footer">
     <div class="box-container">
       <div class="box">
         <h3 btnnn>about us</h3>
         <p btnnn>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet pariatur rerum consectetur architecto ad tempora blanditiis quo aliquid inventore a.</p>
       </div>
       <div class="box">
         <h3 btnnn>quick links</h3>
         <a btnnn href="#">home</a>
         <a btnnn  href="#">features</a>
         <a btnnn href="#">about</a>
         <a btnnn  href="#">review</a>
         <a btnnn  href="#">pricing</a>
         <a btnnn  href="#">contact</a>
       </div>
       <div class="box">
         <h3 btnnn>follow us</h3>
         <a btnnn href="#">facebook</a>
         <a btnnn href="#">instagram</a>
         <a btnnn href="#">pinterest</a>
         <a btnnn href="#">twitter</a>
       </div>
       <div class="box">
         <h3 btnnn>contact info</h3>
         <div class="info">
           <i class="fas fa-phone"></i>
           <p btnnn> +123-456-7890 <br> +111-2222-333 </p>
         </div>
         <div class="info">
           <i class="fas fa-envelope"></i>
           <p btnnn> example@gmail.com <br> example@gmail.com </p>
         </div>
         <div class="info">
           <i class="fas fa-map-marker-alt"></i>
           <p> mumbai, india - 400104 </p>
         </div>
       </div>
     </div>
     <h1 class="credit"> &copy; copyright @ 2021 </h1>
   </div>
   <!-- footer section ends -->






  <!-- jquery cdn link  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- custom js file link  -->
  <script src="js/home.js"></script>


   <!-- JS -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  

</body>

</html>