<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/login.css" />
  <title>Login</title>
</head>

<body>
   
  <!-- Container -->
  <div class="container" id="container">
    <!-- Row -->
    <div class="row">
      <!-- Sign Up -->
      <div class="col align-center flex-col sign-up">
      
        <div class="form-wrapper align-center">
          
          <form class="form sign-up" action="/login" method="POST">

             <h2>Register !</h2>
             <br>

               <!-- error message start -->
               <div class="mb-4 alert-messages">
                 <%if(success.length>0){%>
                 <div class="alert success">
                   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                   <%=success%>
                 </div>
                 <%}else{%>
                 <%if(danger.length>0){%>
                 <div class="alert fail">
                   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                   <%=danger%>
                 </div>
                 <%}%>
                        <%}%>
               </div>
               <!-- end -->
            
            <div class="input-group">
              <i class="bx bxs-user"></i>
             <!-- vhhb -->
              <input type="text" placeholder="Email" name="username" />
            </div>
            <div class="input-group">
             <i class="bx bxs-check-shield"></i>
              <input type="text" name="token" placeholder="Enter Secret Key" />
            </div>
            <div class="input-group">
              <i class="bx bxs-lock-alt"></i>
              <input type="password" placeholder="Password" name="password" />
            </div>
            <div class="input-group">
              <i class="bx bxs-lock-alt"></i>
              <input type="password" name="confirm" placeholder="Confirm password" />
            </div>
            <button name="btn" value="signup">Sign up</button>
            <p>
              <span>Already have an account?</span>
              <b id="sign-in">Sign in here</b>
            </p>
          </form>
        </div>

        <div class="form-wrapper">
          <!-- <div class="social-list align-center sign-up"> -->
            <!-- <div class="align-center facebook-bg">
              <i class="bx bxl-facebook"></i>
            </div> -->
            <!-- <div class="align-center google-bg">
              <i class="bx bxl-google"></i>
            </div> -->
            <!-- <div class="align-center twitter-bg">
              <i class="bx bxl-twitter"></i>
            </div> -->
            <!-- <div class="align-center insta-bg">
              <i class="bx bxl-instagram-alt"></i>
            </div> -->
          <!-- </div> -->
        </div>
      </div>
      <!-- End Sign Up -->
      <!-- Sign In -->
      <div class="col align-center flex-col sign-in">
       
        <div class="form-wrapper align-center">

        
          <form class="form sign-in" action="/login" method="POST">

            <h2>Login !</h2>
            <br>

  <!-- error message start -->
  <div class="mb-4 alert-messages">
    <%if(success.length>0){%>
    <div class="alert success">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%=success%>
    </div>
    <%}else{%>
    <%if(danger.length>0){%>
    <div class="alert fail">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%=danger%>
    </div>
    <%}%>
                        <%}%>
  </div>
  <!-- end -->

            <div class="input-group">
              <i class="bx bxs-user"></i>
              <input type="text" placeholder="Email" name="username" />
            </div>
            <div class="input-group">
              <i class="bx bxs-lock-alt"></i>
              <input type="password" placeholder="Password" name="password" />
            </div>
            <button name="btn" value="signin">Sign in</button>
            <p>
              <b>If you have forgot your password..Please contact administrator!</b>
            </p>
            <p>
              <span> Don't have an account? </span>
              <b id="sign-up">Sign up here</b>
            </p>
           
          </form>
       
        </div>
<!-- 
        <div class="form-wrapper">
          <div class="social-list align-center sign-in">
            <div class="align-center facebook-bg">
              <i class="bx bxl-facebook"></i>
            </div>
            <div class="align-center google-bg">
              <i class="bx bxl-google"></i>
            </div>
            <div class="align-center twitter-bg">
              <i class="bx bxl-twitter"></i>
            </div>
            <div class="align-center insta-bg">
              <i class="bx bxl-instagram-alt"></i>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End Sign In -->
    </div>
    <!-- End Row -->
    <!-- Content Section -->
    <div class="row content-row">
      <!-- Sign In Content -->
      <div class="col align-items flex-col">
        <div class="text sign-in">
          <h2>Welcome Back!</h2>
         
          <p>
          
             To enjoy our services you must Login first !
          </p>
        </div>
        <div class="img sign-in">
          <img src="images/login.png" alt="" />
        </div>
      </div>

      <!-- Sign Up Content -->
      <div class="col align-items flex-col">
        <div class="img sign-up">
          <img src="images/register.png" alt="" />
        </div>
        <div class="text sign-up">
          <h2>Join with us</h2>
          <p>
          To keep connected with us please signup with your personal information by username email and password
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Container -->

  <!-- Script -->
  <script>

const container = document.getElementById("container");
const signIn = document.getElementById("sign-in");
const signUp = document.getElementById("sign-up");

setTimeout(() => {
container.classList.add("sign-in");
}, 200);

const toggle = () => {
container.classList.toggle("sign-in");
container.classList.toggle("sign-up");
};

signIn.addEventListener("click", toggle);
signUp.addEventListener("click", toggle);




  </script>
</body>

</html>
